<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pro.sunhao.mapper.UserMapper">
	
	<!-- 查询user表中的数据 -->
	<select id="findUserAll" resultType="User">
		select * from user
	</select>
	
</mapper>
